.Home {
    width: 100vw;
    height: 100vh;
    text-align: center;
    min-height: 120px;
    line-height: 120px;
    color: #fff;
    background: #108ee9 url("https://pic-1316520471.cos.ap-guangzhou.myqcloud.com/bg3.png") no-repeat center;
    background-size: cover; // 将背景图片等比缩放并铺满整个容器

    canvas {
        display: block;
    }

    @media (max-width: 768px) { // 适配移动端
        .preview {
            width: 40%;
            height: auto;
        }
    }

    .preview {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 16px;
        right: 16px;
        overflow: hidden;
        border-radius: 8px;
        background: #222;

        video {
            max-width: 400px;
            height: auto;
            transform: scale(-1, 1);
        }

        .input_video {
            width: "1280px";
            height: "720px";
        }

        canvas {
            transform: scale(-1, 1);
        }

        .guides {
            position: absolute;
            bottom: 0;
            left: 0;
            height: auto;
            width: 100%;
            z-index: 1;
        }
    }
}