.Home {
    width: 100vw;
    height: 100vh;
    canvas {
        display: block;
    }
    .preview {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 16px;
        right: 16px;
        overflow: hidden;
        border-radius: 8px;
        background: #222;
        video {
            max-width: 400px;
            height: auto;
            transform: scale(-1, 1);
        }
        .input_video {
            width: "1280px";
             height: "720px";
        }

        canvas {
            transform: scale(-1, 1);
        }

        .guides {
            position: absolute;
            bottom: 0;
            left: 0;
            height: auto;
            width: 100%;
            z-index: 1;
        }
    }
}